 
  <div class="border border-secondary p-3 mb-5" *ngIf="newNoteObj">
    entire time: {{newNoteObj.udpatedAt}} noteContent: {{newNoteObj.noteContent}}

    <form (submit)="createNew()" class="form-inline col-md-8">

      <div class="form-group mb-2">

        Note: <input type="text" [(ngModel)]="newNoteObj.noteContent" name="newNoteObj.noteContent" class="form-control mr-2" placeholder="... Enter a note">
      </div>
      <button type="submit" class="btn btn-warning mb-2 pr-2" value="Add Note">Add Note</button>
    </form>

 </div>
 
  
 <div class="border border-warning p-5 mb-3" *ngFor="let note of allNotesObj">
    <div class="timestamp text-right">
      {{note.createdAt}}</div>
      {{note.noteContent}}
  </div>
